Repository XionWCFM/xionwcfmrepo, changes with the labels that .github/labeler.yml gives for each.
All labels: @apps/blog, @apps/grasshopper, packages

feat: pnpm verseion up
  package.json
  pnpm-workspace.yaml
Labels: none

chore: remove mdx
  apps/blog/posts/frontend/environment-safety.mdx
  apps/blog/posts/frontend/frontend-funnel.mdx
  apps/blog/posts/frontend/frontend-testing-environment-setup.mdx
  apps/blog/posts/frontend/future-frontend.mdx
  apps/blog/posts/frontend/monorepo-internal-packages.mdx
  apps/blog/posts/frontend/pnpm-catalog.mdx
  apps/blog/posts/frontend/single-flight.mdx
  apps/blog/posts/frontend/what-is-design-system.mdx
  apps/blog/posts/frontend/write-changeable-front-end-code.mdx
  apps/blog/posts/react/how-to-sync-js-class-in-react.mdx
  apps/blog/posts/react/react-check-box.mdx
  apps/blog/posts/react/state-management.mdx
  apps/blog/posts/retrospect/blog-migration.mdx
  apps/blog/posts/retrospect/retrospect-2024.mdx
  apps/blog/posts/retrospect/toss-frontend-accelerator.mdx
  apps/blog/posts/retrospect/toss-mentoring-1.mdx
  apps/blog/posts/retrospect/toss-mentoring-2.mdx
  apps/blog/posts/retrospect/toss-mentoring-3.mdx
Labels: @apps/blog

feat: 메인 헤더 제거
  apps/blog/app/page.tsx
  apps/blog/src/shared/ui/common/MainTitle.tsx
Labels: @apps/blog

feat: bump pnpm deps (#100)
  apps/blog/app/page.tsx
  apps/blog/posts/frontend/environment-safety.mdx
  apps/blog/posts/frontend/frontend-funnel.mdx
  apps/blog/posts/frontend/frontend-testing-environment-setup.mdx
  apps/blog/posts/frontend/future-frontend.mdx
  apps/blog/posts/frontend/monorepo-internal-packages.mdx
  apps/blog/posts/frontend/pnpm-catalog.mdx
  apps/blog/posts/frontend/single-flight.mdx
  apps/blog/posts/frontend/what-is-design-system.mdx
  apps/blog/posts/frontend/write-changeable-front-end-code.mdx
  apps/blog/posts/react/how-to-sync-js-class-in-react.mdx
  apps/blog/posts/react/react-check-box.mdx
  apps/blog/posts/react/state-management.mdx
  apps/blog/posts/retrospect/blog-migration.mdx
  apps/blog/posts/retrospect/retrospect-2024.mdx
  apps/blog/posts/retrospect/toss-frontend-accelerator.mdx
  apps/blog/posts/retrospect/toss-mentoring-1.mdx
  apps/blog/posts/retrospect/toss-mentoring-2.mdx
  apps/blog/posts/retrospect/toss-mentoring-3.mdx
  apps/blog/src/shared/ui/common/MainTitle.tsx
  package.json
  pnpm-workspace.yaml
Labels: @apps/blog

chore: admin progress
  apps/blog/app/(admin)/layout.tsx
  apps/blog/app/(admin)/write/page.tsx
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/api/posthog/experiments/route.ts
  apps/blog/app/api/posthog/featureflag/route.ts
  apps/blog/app/layout.tsx
  apps/blog/app/page.tsx
  apps/blog/middleware.ts
  apps/blog/src/entities/post/ui/post/PostCard.tsx
  apps/blog/src/shared/utils/date/getFormattedDate.ts
Labels: @apps/blog

chore: admin progress (#101)
  apps/blog/app/(admin)/layout.tsx
  apps/blog/app/(admin)/write/page.tsx
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/api/posthog/experiments/route.ts
  apps/blog/app/api/posthog/featureflag/route.ts
  apps/blog/app/layout.tsx
  apps/blog/app/page.tsx
  apps/blog/middleware.ts
  apps/blog/src/entities/post/ui/post/PostCard.tsx
  apps/blog/src/shared/utils/date/getFormattedDate.ts
Labels: @apps/blog

chore: bump deps
  package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps (#102)
  package.json
  pnpm-lock.yaml
Labels: none

feat: mainpage 개편
  apps/blog/app/globals.css
  apps/blog/app/page.tsx
  apps/blog/src/entities/post/ui/post/PostCard.tsx
  apps/blog/src/widgets/footer/index.tsx
Labels: @apps/blog

feat: mainpage 개편 (#103)
  apps/blog/app/globals.css
  apps/blog/app/page.tsx
  apps/blog/src/entities/post/ui/post/PostCard.tsx
  apps/blog/src/widgets/footer/index.tsx
Labels: @apps/blog

chore: bump root deps
  package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps and no carrot
  apps/blog/package.json
  configs/tailwind/package.json
  configs/tsup/package.json
  package.json
  packages/actions/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/database/package.json
  packages/date/package.json
  packages/env/package.json
  packages/font/package.json
  packages/http/package.json
  packages/icon/package.json
  packages/mdx/package.json
  packages/router/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

fix: 캐럿연산자 빼지않은 부분 반영
  apps/blog/package.json
  configs/tsup/package.json
  pnpm-lock.yaml
Labels: @apps/blog

fix: latest 부분 수정
  packages/actions/package.json
  packages/date/package.json
  packages/icon/package.json
  pnpm-lock.yaml
Labels: packages

chore: 의존성 최신화 / 캐럿연산자 제거 (#104)
  apps/blog/package.json
  configs/tailwind/package.json
  configs/tsup/package.json
  package.json
  packages/actions/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/database/package.json
  packages/date/package.json
  packages/env/package.json
  packages/font/package.json
  packages/http/package.json
  packages/icon/package.json
  packages/mdx/package.json
  packages/router/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

feat: assing automation
  .github/assign.yml
  .github/workflows/auto-assign.yml
Labels: none

feat: bump deps
  apps/blog/package.json
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/shared/ui/icon/XionEmailIcon.tsx
  package.json
  packages/actions/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/database/package.json
  packages/date/package.json
  packages/date/src/format-date.ts
  packages/date/src/index.ts
  packages/date/src/is-after-with-sameday.ts
  packages/date/src/is-before-with-sameday.ts
  packages/date/src/safe-get-iso.ts
  packages/date/src/to-date.ts
  packages/date/src/to-iso.ts
  packages/date/tsconfig.json
  packages/date/tsup.config.ts
  packages/env/package.json
  packages/font/package.json
  packages/http/package.json
  packages/http/src/index.ts
  packages/http/tsconfig.json
  packages/icon/package.json
  packages/icon/src/email-icon.tsx
  packages/icon/src/fill-check-icon.tsx
  packages/icon/src/fill-info-icon.tsx
  packages/icon/src/fill-warning-icon.tsx
  packages/icon/src/types.ts
  packages/icon/tsconfig.json
  packages/icon/tsup.config.ts
  packages/mdx/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

feat: 워크플로우 추가 , 의존성 최신화 (#105)
  .github/assign.yml
  .github/workflows/auto-assign.yml
  apps/blog/package.json
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/shared/ui/icon/XionEmailIcon.tsx
  package.json
  packages/actions/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/database/package.json
  packages/date/package.json
  packages/date/src/format-date.ts
  packages/date/src/index.ts
  packages/date/src/is-after-with-sameday.ts
  packages/date/src/is-before-with-sameday.ts
  packages/date/src/safe-get-iso.ts
  packages/date/src/to-date.ts
  packages/date/src/to-iso.ts
  packages/date/tsconfig.json
  packages/date/tsup.config.ts
  packages/env/package.json
  packages/font/package.json
  packages/http/package.json
  packages/http/src/index.ts
  packages/http/tsconfig.json
  packages/icon/package.json
  packages/icon/src/email-icon.tsx
  packages/icon/src/fill-check-icon.tsx
  packages/icon/src/fill-info-icon.tsx
  packages/icon/src/fill-warning-icon.tsx
  packages/icon/src/types.ts
  packages/icon/tsconfig.json
  packages/icon/tsup.config.ts
  packages/mdx/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

chore: wip
  apps/blog/app/(admin)/layout.tsx
  apps/blog/app/(admin)/write/page.tsx
  apps/blog/app/api/login/google/callback/route.ts
  apps/blog/app/api/login/google/route.ts
  apps/blog/app/auto-refresh.js
  apps/blog/app/layout.tsx
  apps/blog/app/login/page.tsx
  apps/blog/app/page.tsx
  apps/blog/src/shared/ui/common/MainTitle.tsx
  packages/database/src/typesDb.ts
Labels: @apps/blog, packages

chore: wip
  apps/blog/app/layout.tsx
  apps/blog/package.json
  apps/blog/src/shared/assets/fonts/Pretendard-Black.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-Bold.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-ExtraBold.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-ExtraLight.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-Light.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-Medium.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-Regular.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-SemiBold.woff2
  apps/blog/src/shared/assets/fonts/Pretendard-Thin.woff2
  apps/blog/src/shared/assets/fonts/index.ts
  packages/actions/package.json
  packages/actions/src/__tests__/create-coverage-comment.test.ts
  packages/actions/src/__tests__/create-test-comment.test.ts
  packages/actions/src/_internal/combine-results.ts
  packages/actions/src/_internal/constant.ts
  packages/actions/src/_internal/create-or-update-comment.ts
  packages/actions/src/_internal/vitest.type.ts
  packages/actions/src/create-coverage-comment.ts
  packages/actions/src/create-test-comment.ts
  packages/actions/src/index.ts
  packages/actions/src/mocks/mock-coverage.ts
  packages/actions/src/mocks/mock-test-results.ts
  packages/actions/tsconfig.json
  packages/actions/tsup.config.ts
  packages/actions/vitest.config.mts
  packages/auth/package.json
  packages/auth/src/google.ts
  packages/auth/src/jwt.ts
  packages/auth/tsconfig.json
  packages/font/package.json
  packages/font/tsconfig.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

feat: 블로그 롤백
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/page.tsx
  apps/blog/app/sitemap.ts
  apps/blog/posts/development/future-frontend.mdx
  apps/blog/posts/development/monorepo-internal-packages.mdx
  apps/blog/posts/retrospect/retrospect-2024.mdx
  apps/blog/posts/retrospect/toss-frontend-accelerator.mdx
  apps/blog/src/entities/post/api/getAllPosts.ts
  apps/blog/src/entities/post/api/getPostBySlug.ts
  apps/blog/src/entities/post/libs/getAllPosts.ts
  apps/blog/src/entities/post/model/post.model.ts
  apps/blog/src/shared/routes/createRoutes.ts
  apps/blog/src/shared/utils/date/get-korean-today.ts
  apps/blog/src/shared/utils/date/safeGetIso.ts
  apps/blog/src/shared/utils/date/toDate.ts
  apps/blog/src/widgets/PostRecommend.tsx
  packages/mdx/src/MdxComponents.tsx
Labels: @apps/blog, packages

fix: 빌드오류 수정
  apps/blog/src/widgets/PostRecommend.tsx
Labels: @apps/blog

feat: static render
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
Labels: @apps/blog

feat: static render (#107)
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
Labels: @apps/blog

feat: bumpdeps
  apps/blog/package.json
  configs/tailwind/package.json
  configs/tsup/package.json
  package.json
  packages/analytics/package.json
  packages/database/package.json
  packages/env/package.json
  packages/mdx/package.json
  packages/router/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @apps/blog, packages

chore: remove posthog
  apps/blog/app/layout.tsx
  apps/blog/package.json
  packages/analytics/package.json
  packages/analytics/src/AbTest.tsx
  packages/analytics/src/index.tsx
  packages/analytics/src/posthog/client.tsx
  packages/analytics/src/posthog/server.ts
  pnpm-lock.yaml
Labels: @apps/blog, packages

feat: repo router jit로 refactor
  apps/blog/app/(blog)/layout.tsx
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/(resume)/resume/layout.tsx
  apps/blog/app/(resume)/resume/page.tsx
  apps/blog/package.json
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/entities/post/ui/post/PostDetailAuthorWithChar.tsx
  apps/blog/src/shared/feature-flag/DevTools.tsx
  apps/blog/src/shared/packages/feature-flag/api.ts
  apps/blog/src/shared/packages/feature-flag/index.ts
  apps/blog/src/shared/packages/mdx/MdxComponents.tsx
  apps/blog/src/shared/packages/mdx/MdxRemote.tsx
  apps/blog/src/shared/packages/mdx/compile.ts
  apps/blog/src/shared/packages/mdx/index.tsx
  apps/blog/src/shared/types/cookieStore.ts
  apps/blog/src/shared/ui/common/MainTitle.tsx
  apps/blog/src/shared/ui/icon/XionGithubIcon.tsx
  apps/blog/src/shared/ui/icon/XionLinkedInIcon.tsx
  apps/blog/src/widgets/PostRecommend.tsx
  apps/blog/src/widgets/header/interactive-header.tsx
  apps/blog/src/widgets/header/static-header.tsx
  biome.json
  packages/mdx/package.json
  packages/mdx/src/MdxRemote.tsx
  packages/router/package.json
  packages/router/src/index.ts
  pnpm-lock.yaml
Labels: @apps/blog, packages

feat: cursor rules add
  .cursor/rules/always.mdc
  .cursorignore
Labels: none

refactor: remove stack component
  apps/blog/app/(blog)/layout.tsx
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/page.tsx
  apps/blog/src/entities/post/ui/post/PostCard.tsx
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/entities/post/ui/post/PostDetailAuthorWithChar.tsx
  apps/blog/src/shared/packages/feature-flag/api.ts
  apps/blog/src/shared/packages/feature-flag/index.ts
  apps/blog/src/shared/ui/common/MainTitle.tsx
  apps/blog/src/widgets/PostRecommend.tsx
  apps/blog/src/widgets/footer/index.tsx
  apps/blog/src/widgets/header/interactive-header.tsx
  apps/blog/src/widgets/header/static-header.tsx
  packages/mdx/src/MdxComponents.tsx
Labels: @apps/blog, packages

refactor: wip
  .templates/animation-component.tsx.hbs
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/layout.tsx
  apps/blog/app/sitemap.ts
  apps/blog/src/entities/post/ui/post/PostDetailAuthorWithChar.tsx
  apps/blog/src/shared/packages/mdx/MdxRemote.tsx
  apps/blog/src/shared/packages/mdx/compileMdx.ts
  apps/blog/src/shared/packages/mdx/index.tsx
  apps/blog/src/shared/routes/createRoutes.ts
  apps/blog/src/shared/routes/index.ts
  apps/blog/src/shared/utils/external/createMetaData.ts
  apps/blog/src/widgets/header/interactive-header.tsx
  apps/blog/src/widgets/header/static-header.tsx
  apps/blog/tsconfig.json
  apps/blog/watcher.cjs
  packages/mdx/package.json
  packages/mdx/src/CallOut.tsx
  packages/mdx/src/MdxComponents.tsx
  packages/mdx/src/MdxEditor.tsx
  packages/mdx/src/MdxNextImage.tsx
  packages/mdx/src/MdxNextLink.tsx
  packages/mdx/src/MdxRemote.tsx
  packages/mdx/src/MdxViewer.tsx
  packages/mdx/src/index.ts
  packages/mdx/tsconfig.json
  packages/test-utils/src/renderHookSsr.tsx
  packages/test-utils/src/renderSsr.tsx
  packages/test-utils/src/serverEnvironments.ts
  packages/test-utils/tsconfig.json
  plopfile.ts
Labels: @apps/blog, packages

fix: build error
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
Labels: @apps/blog

refactor: package로 분리했던 것들 롤백
  apps/blog/app/layout.tsx
  apps/blog/app/loading.tsx
  apps/blog/package.json
  apps/blog/src/shared/packages/analytics/clarity.tsx
  apps/blog/src/shared/packages/analytics/google.tsx
  apps/blog/src/shared/packages/analytics/index.tsx
  apps/blog/src/shared/packages/env/index.ts
  packages/analytics/package.json
  packages/analytics/src/useFeatureFlag.ts
  packages/analytics/tsconfig.json
  packages/database/src/client.ts
  packages/database/src/server.ts
  packages/env/package.json
  packages/env/tsconfig.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

refactor: 의존성 정리
  apps/blog/package.json
  packages/database/package.json
  pnpm-lock.yaml
Labels: @apps/blog, packages

refactor: shared 계층 폴더구조 변경
  apps/blog/app/(blog)/posts/[...slug]/page.tsx
  apps/blog/app/layout.tsx
  apps/blog/app/page.tsx
  apps/blog/app/robots.ts
  apps/blog/app/sitemap.ts
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/entities/post/ui/post/PostDetailAuthorWithChar.tsx
  apps/blog/src/shared/constants/constants.ts
  apps/blog/src/shared/constants/fonts/Pretendard-Black.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-Bold.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-ExtraBold.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-ExtraLight.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-Light.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-Medium.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-Regular.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-SemiBold.woff2
  apps/blog/src/shared/constants/fonts/Pretendard-Thin.woff2
  apps/blog/src/shared/constants/fonts/index.ts
  apps/blog/src/shared/constants/images.ts
  apps/blog/src/shared/ui/common/MainTitle.tsx
  apps/blog/src/shared/ui/icon/XionEmailIcon.tsx
  apps/blog/src/shared/ui/icon/XionGithubIcon.tsx
  apps/blog/src/shared/ui/icon/XionLinkedInIcon.tsx
  apps/blog/src/shared/utils/external/createMetaData.ts
  apps/blog/src/widgets/footer/index.tsx
  apps/blog/src/widgets/header/interactive-header.tsx
  apps/blog/src/widgets/header/static-header.tsx
Labels: @apps/blog

chore: 의존성 정리
  apps/blog/next.config.ts
  apps/blog/package.json
  packages/router/src/image.tsx
  pnpm-lock.yaml
Labels: @apps/blog, packages

chore: 의존성 정리
  apps/blog/package.json
  pnpm-lock.yaml
Labels: @apps/blog

refactor: es-toolkit으로 의존성 전환
  apps/blog/src/shared/ui/icon/XionEmailIcon.tsx
Labels: @apps/blog

fix: ui 버그 수정
  apps/blog/imageConstantsGenerator.ts
  apps/blog/package.json
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/entities/post/ui/post/PostDetailAuthorWithChar.tsx
  apps/blog/src/shared/constants/images/images.ts
  apps/blog/src/shared/hooks/useMediaQuery.ts
  apps/blog/src/shared/ui/common/MainTitle.tsx
  pnpm-lock.yaml
Labels: @apps/blog

refactor: 자동화된 코드로 변경
  apps/blog/src/entities/post/ui/post/PostDetailAuthorAndDate.tsx
  apps/blog/src/entities/post/ui/post/PostDetailAuthorWithChar.tsx
  apps/blog/src/shared/constants/images.ts
  apps/blog/src/widgets/header/interactive-header.tsx
  apps/blog/src/widgets/header/static-header.tsx
Labels: @apps/blog

feat: ratio 추가
  apps/blog/imageConstantsGenerator.ts
  apps/blog/src/shared/constants/images/images.ts
Labels: @apps/blog

.github/labeler.yml:

"@apps/blog":
  - changed-files:
      - any-glob-to-any-file: "apps/blog/**"

"@apps/grasshopper":
  - changed-files:
      - any-glob-to-any-file: "apps/grasshopper/**"

"packages":
  - changed-files:
      - any-glob-to-any-file: "packages/**"
